---
layout: page
title: About
---

<img src="{{ site.baseurl }}/images/my-face.jpg" alt="My face" class="auto">
<p>
  I'm a lonesome Canadian lost in the Parisian jungle. I write code, design software &amp; IT systems, 
  coach teams, teach, speak, and write. I put myself in the shoes of the customers and the users 
  of every piece of software I work on - I'm a convinced practitioner of DDD. I like learning new 
  things, both on the technical and the domain side.
</p>

{% if site.talks != null %}
  <h2 id="talks">Upcoming talks</h2>
  <ul>
    {% for talk in site.talks %}
      <li>
        <a href="{{ site.baseurl }}{{ talk.url }}">
          {{ talk.title }} 
          - {% assign d = talk.date | date: "%-d"  %}
            {{ talk.date | date: "%B" }}
            {% case d %}
              {% when '1' or '21' or '31' %}{{ d }}st
              {% when '2' or '22' %}{{ d }}nd
              {% when '3' or '23' %}{{ d }}rd
              {% else %}{{ d }}th{% endcase %},
            {{ talk.date | date: "%Y" }}
          - {{ talk.location }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if site.publications != null %}
<h2 id="publications">Books</h2>
<ul>
  {% for publication in site.publications %}
    <li>
      <a href="{{ publication.url }}" target="_blank">{{ publication.title }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}

{% if site.friends != null %}
  <h2 id="friends">Friends</h2>
  <ul>
    {% for friend in site.friends %}
      <li>
        <a href="{{ friend.url }}" target="_blank">{{ friend.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}