<footer class="footer">
  <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  <a href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
  <a href="mailto:{{ site.author.email }}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  <a href="{{ site.baseurl }}/rss.xml" target="_blank"><i class="fa fa-rss"  aria-hidden="true"></i></a>
  <div class="post-date">
    &copy; {{ site.time | date: '%Y' }} - {{ site.author.name }}. All rights reserved<br/>
    <a href="https://lenpaul.github.io/Lagrange/" target="_blank">Lagrange</a> theme<br/>
    Hosted on <a href="https://github.com/" target="_blank">Github</a>
  </div>
</footer>
