<div class="menu">
  <div class="menu-content">
    <a href="{{ site.baseurl }}/archive.html">Archive</a>
    <a href="{{ site.baseurl }}/tags.html">Tags</a>
    <a href="{{ site.baseurl }}/about.html">About</a>
  </div>
  <div class="social-icons">
    <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="mailto:{{ site.author.email }}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <a href="{{ site.baseurl }}/rss.xml" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
  </div>
</div>
